.navigation_bar {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkgreen;
  height: 14vh;
  min-height: 72px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navigation_bar > a > img {
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  padding: 0px;
  margin-top: 2.5vh;
  width: 12vw;
  max-width: 200px;
  min-width: 100px;
  border-bottom: 0.5vw solid darkgreen;
  border-left: 0.5vw solid darkgreen;
  border-right: 0.5vw solid darkgreen;
}

.bottom_bar {
  display: flex;
  height: 8vh;
  background-color: darkgreen;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.feed_starter {
  background-color: lightgreen;
  height: 14vh;
  min-height: 72px;
}
.feed_starter ~ div {
  display: flex;
  width: 70vw;
  margin-top: 4vh;
  padding: 3vh;
  border-radius: 3vw;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
}

.feed_container {
  background-color: lightgreen;
  min-height: 100vh;
}
.feed_container img {
	border-radius: 4vh;
}
.feed_container p {
  padding-left: 6vw;
  font-size: 3vh;
  margin: 0px;
}
.feed_container p::first-letter {
  color: #008c1e;
  font-size: x-large;
}
.feed_container img + p {
  padding-top: 5vh;
}

.navigation_button {
  background-color: green;
  height: 9vh;
  min-height: 48px;
  width: 100%;
  border: none;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 4vh;
}
.navigation_button:hover {
  background-color: lightgreen;
}

.login_window {
  background-color: darkgreen;
  width: 50vw;
  margin: auto;
  border-radius: 15%;
  position: fixed;
  top: 25%;
  left: 25%;
  text-align: center;
}
.login_window:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.login_window p {
	color: white;
}